<html lang="en">
<%- include('header'); -%>
<%- include('container'); -%>
  <div class="jumbotron">
	<h1><%= deal_form %></h1>
	
	<div class="panel-body" >
					<form class="form-horizontal" role="form" method="post" action="/home/signupdeal">
						
						<% if (message.length > 0) { %>
						<div class="alert alert-success col-sm-12"><%= message %></div>
						<% } %>
						
						<div id="signupalert" style="display:none" class="alert alert-danger">
							<p><%= error %></p>
							<span></span>
						</div>
						<div class="form-group">
							
							<div class="col-md-9">
								<input type="text" class="form-control" name="deal_title" placeholder="<%= deal_title %>">
							</div>
						</div>
						<div class="form-group">
							
							<div class="col-md-9">
								<input type="text" class="form-control" name="company_name" placeholder="<%= company_name %>">
							</div>
						</div>
						<div class="form-group">
							
							<div class="col-md-9">
								<input type="text" class="form-control" name="client_name" placeholder="<%= client_name %>">
							</div>
						</div>
						
						<div class="form-group">
							
							<div class="col-md-9">
								<input type="phone" class="form-control" name="client_phone" placeholder="Client phone">
							</div>
						</div>
						<div class="form-group">
							
							<div class="col-md-9">
								<input type="text" class="form-control" name="client_email" placeholder="Client email">
							</div>
						</div>		
						<div class="form-group">
							
							<div class="col-md-9">
								<input type="text" class="form-control" name="offer_cost" placeholder="Offer Cost">
							</div>
						</div>						
						<div class="form-group">						            
							<div class="col-md-offset-3 col-md-9">
								<button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Send dial</button>
							</div>
						</div>
					</form>
					
  </div>
<%- include('footer'); -%>